.Container{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.main{
    background-color: #0709CE;
    color: #CAF0F8;
    display: flex;
    gap: 12.5rem;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 40vh;
    border-radius: 25px;
}
.headText{
    font-size: 70px;
    font-weight: 700;
}
.tagText{
    font-size: 30px;
    font-weight: 100;
}


.image{
    height: 25vh;
    width: 15vw;
}

